<div class="container"><br>
    <h2 class="text-center">View SME Details</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="stat-widget-six">
                    <div class="stat-icon">
                        <i class="ti-clipboard"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Business Name </div>
                            <div class="stat-text">
                                Organisation Name
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-head">
                    <h2><i class="ti-quote-left"></i>
                        <%= userSME.name %>
                            <i class="ti-quote-right"></i>
                    </h2>
                    <b >
                        Staff Strength : <%= userSME.staff_strength %>
                    </b>
                </div>
            </div>
        </div> <br>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="stat-widget-six">
                    <div class="stat-icon">
                        <i class="ti-clipboard"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Business Email </div>
                            <div class="stat-text">
                                Email Addresss
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-head">
                    <h2>
                        <%= userSME.email %>
                           
                    </h2>
                    <b >
                        Staff Strength : <%= userSME.staff_strength %>
                    </b>
                </div>
            </div>
        </div> <br>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="stat-widget-six">
                    <div class="stat-icon">
                        <i class="ti-clipboard"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Phone Numbers </div>
                            <div class="stat-text">
                                Mobile Number
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-head">
                    <h2 >
                        <%= userSME.phone_number %> || <%= userSME.phone_number1 %>
                           
                    </h2>
                    <b class="text-capitalize">
                        Staff Strength : <%= userSME.staff_strength %>
                    </b>
                </div>
            </div>
        </div> <br>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="stat-widget-six">
                    <div class="stat-icon">
                        <i class="ti-clipboard"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">Address</div>
                            <div class="stat-text">
                                Business Address
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-head">
                    <p>
                        <%= userSME.address %>
                    </p>
                    <b >
                        Staff Strength : <%= userSME.staff_strength %>
                    </b>
                </div>
            </div>
        </div> <br>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card bg-primary">
                <div class="stat-widget-six">
                    <div class="stat-icon">
                        <i class="ti-clipboard"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-heading">About</div>
                            <div class="stat-text">
                                Business Info
                            </div> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-head">
                    <p>
                        <%= userSME.about %>
                    </p>
                    <b >
                        Staff Strength : <%= userSME.staff_strength %>
                    </b>
                </div>
            </div>
        </div> <br> <br> <br>
    </div> <br>  <br> <br> <br>
    
</div>
</div>