<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>All Registered SME </h4>
      </div>
      <div class="card-body">

        <% if (userSME.id==null) { %>
          <br> <br>
          <h3 class="m-5 text-center mb-5">There is no registered SME at the moment</h3>

          <% } else{%>
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Business Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Alternative Number</th>
                    <th>Reg Status</th>
                    <th>Staff Strength</th>
                    <th>WRite Report </th>


                  </tr>
                </thead>
                <tbody>
                  Pending Leaves
                  <% userSME.forEach((sme)=> { %>

                    <tr>
                      <td>
                        <a href="/mgt/jvmc_sme/<%= sme.id %>">
                          <%= sme.name %>

                        </a>
                      </td>

                      <td>
                        <a href="/mgt/jvmc_sme/<%= sme.id %>">
                        </a>
                        <%= sme.email %>
                      </td>
                      <td>
                        <a href="/mgt/jvmc_sme/<%= sme.id %>">
                          <%= sme.phone_number %>
                        </a>

                      </td>
                      <td>
                        <a href="/mgt/jvmc_sme/<%= sme.id %>">
                          <%= sme.phone_number1 %>
                        </a>
                      </td>
                      <td>
                        <a href="/mgt/jvmc_sme/<%= sme.id %>">
                          <span class="badge badge-success">Registered</span>
                        </a>

                      </td>
                      <td>
                        <%= sme.staff_strength %>
                      </td>
                      <td><button class="btn btn-outline-primary btn-sm">Report </button>

                      </td>

                    </tr>
                    <% }); %>



                </tbody>
              </table>
            </div>
        <% } %>
      </div>
    </div>
  </div>